{
  "presets": [
    ["env", {
      "modules": false,
      "targets":{
        "browsers":[
          "ie >= 8"
        ]
      }
    }],
    "stage-2"
  ],
  "plugins": ["transform-es3-property-literals"],
  "comments": false
}
